{
  "installed": {
    "client_id": "هنا_ضع_معرف_العميل_client_id_الخاص_بك_من_Google_Cloud.apps.googleusercontent.com",
    "project_id": "quran-reels-generator",
    "auth_uri": "https://accounts.google.com/o/oauth2/auth",
    "token_uri": "https://oauth2.googleapis.com/token",
    "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
    "client_secret": "هنا_ضع_الرمز_السري_client_secret_الخاص_بك",
    "redirect_uris": [
      "http://localhost"
    ]
  }
}
